body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
}

#globekit-container {
  margin:0;
  padding:0;
  width: 100%;
  height: 100vh;
  position: relative;
}

#globekit-canvas {
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

#callout-manager {
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
